.footer {
    background-color: #1e1e2f;
    color: #f0f0f0;
    padding: 20px 0;
    position: absolute; /* ou 'sticky' si tu veux qu’il reste visible */
    bottom: 0;
    width: 100%;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.2);
    opacity: 0;
    transform: translateY(20px);
    transition: all 0.6s ease;
    z-index: 50;
}

.footer.fade-in {
    opacity: 1;
    transform: translateY(0);
}

.footerContainer {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    font-size: 0.95rem;
    left:0px;
   
}

.footerContainer p {
    margin: 0;
    transition: color 0.3s ease;
}

.footerContainer a {
    color: #f0f0f0;
    text-decoration: none;
}

.footerContainer a:hover p {
    color: #4a8be6;
    text-decoration: underline;
    cursor: pointer;
}
