signup
{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup .signupContainer
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.signup
{
    background-color: #f0f0f0;
    padding: 2rem;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
    text-align: center;
}
.signup img
{
    width: 40px;
    height: auto;
    margin-bottom: 1rem;
}